
@inject ILayoutServices layoutservices

@{
    Dictionary<string, string> settings = await layoutservices.GetSettingsAsync();
    AppUser appUser = await layoutservices.GetUserAsync();
    List<BasketVM> basketVMs = await layoutservices.GetBasketAsync();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixmart - Handmade Shop WordPress WooCommerce Theme Preview - ThemeForest</title>
    <link rel="stylesheet" href="~/assets/slick/slick.css">
    <link rel="stylesheet" href="~/assets/slick/slick-theme.css">
    <link rel="icon" style="width:max-content" type="image/x-icon" href="~/assets/images/favicon/logo.svg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>

    @await Component.InvokeAsync("Header", settings)
    @RenderBody()
    <footer class="footer">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo">
                            <img style="width:190px" src="~/assets/images/favicon/@settings.First(s => s.Key == "Logo1").Value" alt="">
                        </div>
                        <div class="settings">
                            <p>T :@settings.First(s => s.Key == "PhoneNumber").Value</p>
                            <p>E :@settings.First(s => s.Key == "Email").Value</p>
                            <p>A :@settings.First(s => s.Key == "Address").Value</p>
                        </div>
                    </div>
                    <div class="footer-menu col-lg-3  col-md " style="margin-top: 100px;">
                        <ul class="menu-list">
                            <li class="menu-item"><a href="">Shop</a></li>
                            <li class="menu-item"><a href="">Out Work</a></li>
                            <li class="menu-item"><a href="">History</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu col-lg-3  col-md" style="margin-top: 100px;">
                        <ul class="menu-list">
                            <li class="menu-item"><a href="">About Us</a></li>
                            <li class="menu-item"><a href="">Privacy Policy</a></li>
                            <li class="menu-item"><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-newsletter col-lg-3 col-md-3  col-12 " style="margin-top: 100px; ">
                        <div class="newsletter-form">
                            <form method="post" action="" class="contact-form">
                                <input type="hidden" name="form_type"
                                       value="customer" /><input type="hidden" name="utf8" value="✓" />
                                <label for="NewsletterEmail-1567467787738" class="footer-label">
                                    <p style="color: #fff; font-weight: 400;">Newsletter</p>
                                </label>
                                <div class="input-group">
                                    <input style="padding: 15px 0px;" type="email" value="" placeholder="Your email"
                                           name="contact[email]" id="NewsletterEmail-1567467787738" class="form-control"
                                           autocorrect="off" autocapitalize="off">
                                    <div class="input-group-append">
                                        <button style="color:#fff ;" type="submit" value="submit">
                                            <span>SEND</span>
                                            <span class="d-lg-none d-inline-block">
                                                <i class="opal-icon-arrow-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <p>
                            2022 MIXMART THEMES
                        </p>

                    </div>

                    <div class="col-lg-6 col-md-6 footer-copyright-right" style="text-align:right;">

                        <a href="@settings.First(s => s.Key == "FacebookUrl").Value"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="@settings.First(s => s.Key == "TwitterUrl").Value"><i class="fa-brands fa-twitter"></i></a>
                        <a href="@settings.First(s => s.Key == "InstagramUrl").Value"><i class="fa-brands fa-instagram"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <!-- custom js file link  -->
    @*<script src="~/Assets/js/script.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/assets/slick/slick.min.js"></script>
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    @RenderSection("script", false)

</body>

</html>
