@model IEnumerable<Product>
@{
    ViewData["Title"] = "CategoryProduct";
}

<main>
    <div class="shopcontent">
        <div class="col-lg-3 asidecontent">
            <div class="shopcategories">
                <h2>Product categories</h2>
                <ul>
                    @foreach (Category category in ViewBag.Categories)
                    {
                        <li>
                            <a asp-controller="shop" asp-action="categoryproduct" asp-route-Id="@category.Id"> @category.Name  </a>
                            <span>(@category.ProductCategories.Count())</span>
                        </li>

                    }

                </ul>
            </div>

            <div class="shoptag">
                <h2>Tags</h2>
                <div class="tagcloud">
                    @foreach (Tag tag in ViewBag.Tags)
                    {

                        <a asp-controller="shop" asp-action="tagproduct" asp-route-Id="@tag.Id">@tag.Name</a>
                    }

                </div>
            </div>
        </div>
        <div class=" col-lg-9   maincontent">
       
            <div class="productss">
                <div class="row">
                    @await Html.PartialAsync("_ProductPartialView", Model)

                </div>
            </div>

        </div>
    </div>
</main>


