@model Product
@{
    ViewData["Title"] = "Detail";

    IEnumerable<Product> related = ViewBag.Related;
}
<div class="title-bar"
     style="background-image: url(/assets/images/index/shop/breadcrumb_bkg2.jpg);background-size: cover;background-position: center;padding: 85px 0px;">
    <div class="container">
        <div class="row">
            <div class="title-bar-text" style="text-align: center;">
                <div class="title-bar-breadcrumb">
                    <span style="color: #777777;font-size: 15px;">Home</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Products</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Uncategorized</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Peach Wood Chopsticks</span>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="productcontent">
        <div class="row">
            <div class="col-lg-7">
                <img style="width: 810px; height: 810px;" src="~/assets/images/index/shop/@Model.Image" alt="">
            </div>
            <div class="col-lg-5">
                <div class="productinfo">
                    <h1>@Model.Title</h1>
                    <div class="productrating">
                        <div class="staricon">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <a href="">(5 customer reviews)</a>
                    </div>
                    @if (Model.DiscountedPrice > 0)
                    {
                        <span style="color: #b3b3b3;text-decoration: line-through;font-size: 14px;"
                              class="old-price">$@Model.Price</span>
                            <span class="price">$@Model.DiscountedPrice</span>
                        }
                        else
                        {
                            <span class="price">$@Model.Price</span>
                        }
                    <div class="productdetails">
                        <p class="p">
                            @Model.Description1
                        </p>
                        <p style="margin-top: 30px;font-weight: 400;font-size: 15px;color: #777777;">
                            @Model.Description2
                        </p>
                        <ul style="padding-left: 0px;margin-bottom: 24px;">
                            <li>
                                @Model.Description3
                            </li>
                        </ul>
                    </div>
                    <form action="">
                        <div class="buttons">
                            <input type="number" value="1" id="quantity" name="quantity" min="1" max="90">
                        </div>
                        <button>
                            <i style="margin-right: 10px;" class="fa-brands fa-opencart"></i>Add To
                            Cart
                        </button>
                    </form>
                    <div class="addtowishlist">
                        <a href=""> + Add to Wishlist</a>
                    </div>
                    <div class="categoryproduct">
                        <span style="display: block;color: #333;line-height: 2;">
                            Category:@foreach (ProductCategory productCategory in Model.ProductCategories)
                            {
                                <a style="color: #777777;"
                                   href="">@productCategory.Category.Name,</a>

                            }
                        </span>
                    </div>
                    <div class="socialshare">
                        <span>Share on:</span>

                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-tumblr"></i></a>
                        <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest"></i></a>
                        <a href=""><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>


            <div class="relatedproducts">
                <h2>Related products</h2>
                <div class="relatedproductss">
                    <div class="row">
                         @await Html.PartialAsync("_ProductPartialView",related) 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

