@model ShopVM
@{
    ViewData["Title"] = "Index";
}

<div class="title-bar"
     style="background-image: url(/assets/images/index/shop/breadcrumb_bkg2.jpg);background-size: cover;background-position: center;padding: 45px 0px;">
    <div class="container">
        <div class="row">
            <div class="title-bar-text" style="text-align: center;">
                <div class="title-bar-header" style="margin-bottom: 20px;">
                    <h1 style="color:#3a3d46;font-family: rufina;font-size: 52px;">Shop</h1>
                </div>
                <div class="title-bar-breadcrumb">
                    <span style="color: #777777;font-size: 15px;">Home</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="shopcontent">
        <div class="col-lg-3 asidecontent">
            <div class="shopcategories">
                <h2>Product categories</h2>
                <ul>
                    @foreach (Category category in Model.Categories)
                    {
                        <li >
                            <a asp-controller="shop" asp-action="categoryproduct" asp-route-Id="@category.Id" >@category.Name  </a>
                            <span>(@category.ProductCategories.Count())</span>
                        </li>

                    }

                </ul>
            </div>

            <div class="shoptag">
                <h2>Tags</h2>
                <div class="tagcloud">
                    @foreach (Tag tag in Model.Tags)
                    {

                        <a asp-controller="shop" asp-action="tagproduct" asp-route-Id="@tag.Id">@tag.Name</a>
                    }

                </div>
            </div>
        </div>
        <div class=" col-lg-9   maincontent">
        
            <div class="productss">
                <div class="row">
                    @foreach (Product product in Model.Products)
                    {

                        
                            <div class="col-lg-4 col-md-6" style=" margin-top: 45px;">
                                <div class="productcart">
                                    <div style="position:relative" class="product-image">
                                        @if (product.DiscountedPrice > 0)
                                        {
                                            <span class="onsale">-@((((product.Price * 100) / product.DiscountedPrice) - 100).ToString("0.##"))%</span>

                                        }
                                        <a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id">
                                            <img src="~/assets/images/index/shop/@product.Image" alt="">

                                        </a>
                                    </div>
                                    <div class="action">
                                        <a asp-controller="wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id" class="addtowishlist"><i class="fa-regular fa-heart"></i></a>
                                        <a asp-controller="basket" asp-action="AddToBasket" asp-route-id="@product.Id" class="addbasket"><i class="fa-brands fa-opencart"></i></a>

                                    </div>
                                    <div class="product-caption">
                                        <h3><a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id">@product.Title</a></h3>
                                        @if (product.DiscountedPrice > 0)
                                        {
                                            <span style="color: #b3b3b3;text-decoration: line-through;font-size: 14px;"
                                                  class="old-price">$@product.Price</span>
                                                <span class="price">$@product.DiscountedPrice</span>
                                            }
                                            else
                                            {
                                                <span class="price">$@product.Price</span>
                                            }

                                    </div>
                                </div>

                            </div>


                       
                    }


                </div>
            </div>

        </div>
    </div>
</main>

