@model BlogDetailVM
@{
    ViewData["Title"] = "Detail";
}

<div class="title-bar"
     style="background-image: url(/assets/images/index/shop/breadcrumb_bkg2.jpg);background-size: cover;background-position: center;padding: 90px 0px;">
    <div class="container">
        <div class="row">
            <div class="title-bar-text" style="text-align: center;">
                <div class="title-bar-breadcrumb">
                    <span style="color: #777777;font-size: 15px;">Home</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Blog</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">Uncategorized</span>
                    <i style="color: #777777;font-size: 8px;padding: 0 10px;" class="fa-solid fa-chevron-right"></i>
                    <span style="color: #3a3d46;font-size: 15px;">
                        Who Is Kanye West’s Super Stylish
                        Companion?
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="article">
        <div class="articleinner">
            <img src="~/assets/images/index/blog/@Model.Blog.Image" alt="">
            <div class="articletexttitle">
                <div class="articletitle">
                    <div class="categories">
                        @foreach (BlogCategory blogCategory in Model.Blog.BlogCategories)
                        {
                            <a href="">@blogCategory.BCategory.Name</a>

                        }
                    </div>
                    <h2>@Model.Blog.Title</h2>
                    <div class="admindate">
                        <p style="color: #3a3d46;">@Model.Blog.Author</p>
                        <span style="padding: 0 5px;">-</span>
                        <p style="color: #777777;">@Model.Blog.Date.ToString("MMMM dd,yyyy")</p>
                    </div>
                </div>
                <div class="articlecontext">
                    <p>
                        @Model.Blog.Description1
                    </p>

                    <p class="span">
                        @Model.Blog.Description2

                    </p>

                </div>
            </div>
            <div class="shareon">
                <div class="shareicons">
                    <span>Share on:</span>
                    <a href="@Model.Blog.FacebookUrl"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-tumblr"></i></a>
                    <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                    <a href=""><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="navigation">
            <div class="previousnav">
                <div class="navcontent">
                    <div class="navimage">
                        <img src="~/assets/images/index/blog/post4.jpg" alt="">
                    </div>
                    <div class="navlink">
                        <div class="title">
                            Previous Post
                        </div>
                        <a href="">Ready or Not, the Return of <br> the Hobo Bag Is Nigh</a>
                    </div>
                </div>
            </div>
            <div class="nextnav">
                <div class="navcontent">
                    <div class="navlink">
                        <div class="title">
                            Next Post
                        </div>
                        <a href="">Meet the Top 14 Models of Fall <br> 2019</a>
                    </div>
                    <div class="navimage" style="padding-left: 10px;">
                        <img src="~/assets/images/index/blog/post2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            @foreach (var comment in Model.Comments.Where(f => f.IsAccess == true).OrderBy(f => f.Date))
            {
                if (comment.AppUser.UserName == User.Identity.Name)
                {
                    <div class="comment">
                        <div class="commentorimage">
                            <img src="~/assets/images/index/blog/author.png" alt="">
                        </div>
                        <div class="commentorcomment">
                            <p style="color: #3a3d46;font-weight: 600;">
                                @comment.AppUser.Name @comment.AppUser.Surname
                                <span style="color: #777777;font-size: 12px;font-weight: 100;margin-left: 15px;">
                                    @comment.Date.ToString("dd MMMM yyyy HH:mm")
                                </span>
                            </p>
                            <p class="pppp" style="color: #777777;">
                                @comment.Message
                            </p>
                            <a asp-action="DeleteComment" asp-route-id="@comment.Id" class="text-danger">Delete</a>
                        </div>

                    </div>

                }
                else
                {
                    <div class="comment">
                        <div class="commentorimage">
                            <img src="~/assets/images/index/blog/author.png" alt="">
                        </div>
                        <div class="commentorcomment">
                            <p style="color: #3a3d46;font-weight: 600;">
                                @comment.AppUser.Name @comment.AppUser.Surname
                                <span style="color: #777777;font-size: 12px;font-weight: 100;margin-left: 15px;">
                                    @comment.Date.ToString("dd MMMM yyyy HH:mm")
                                </span>
                            </p>
                            <p class="pppp" style="color: #777777;">
                                @comment.Message
                            </p>
                        </div>

                    </div>

                }
            }

        </div>
        <div class="leavereply">
            <h3>Leave a Reply</h3>
            <p style="color: #777777;">
                Your email address will not be published. Required fields are marked <span style="color: red;">*</span>
            </p>
            <form asp-action="addcomment" asp-controller="comment" method="post">
            <textarea name="" id="" cols="45" rows="6" placeholder="Your comment"></textarea>
          
            <button type="submit">Post Comment</button>

            </form>
        </div>
    </div>
</main>

